:root {
    --bg: #fffdfb;
    --text: #1f2937;
    --muted: #6b7280;
    --brand: #2e7d32;
    /* verde reciclável vibe */
    --brand-2: #a5d6a7;
    --brand-3: #f5faeb;
    --card: #ffffff;
    --radius: 16px;
    --shadow: 0 8px 14px rgba(0, 0, 0, 0.08);
}

html,
body {
    height: 100%;
    background: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
    background: var(--brand-3);
    margin: 0;
    font-family: system-ui, sans-serif;

}

/* NAV */
.navbar {
    box-shadow: var(--shadow);
    background: #fff !important;
}

.logo {
    width: clamp(36px, 8vw, 150px);
    height: auto;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.4px;
}

.hero {
    position: relative;
}

.map {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; /* espaço entre cards e mapa */
    padding: 1rem;
    background: var(--brand-3);
    flex-wrap: wrap; /* deixa quebrar linha em telas pequenas */
}

.locals {
    flex: 1 1 300px; /* ocupa espaço flexível mas com mínimo de 300px */
    max-width: 400px; /* não estica demais em telas grandes */
    padding: 1rem;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
    margin-bottom: 10px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background: var(--card);
}

.map iframe {
    flex: 2 1 500px; /* ocupa mais espaço que os cards */
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    height: 100%;
    /*aspect-ratio: 16 / 9;*/
    border: 0;
    border-radius: 12px;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    
}

footer {
    border-top: 1px solid #eee;
    background: #fafafa;
    padding: 28px 0;
}

footer a {
    color: var(--text);
    text-decoration: none;
}

footer a:hover {
    color: var(--brand);
    text-decoration: underline;
}

.copy p {
    margin: 0;
    color: var(--muted);
}


/* Tablets */
@media (max-width: 768px) {
    .map {
        flex-direction: column;
        align-items: center;
    }

    .locals {
        max-width: 100%;
        padding: 0;
    }

    .map iframe {
        aspect-ratio: 4 / 3;
        max-width: 100%;
    }
}

/* Celulares */
@media (max-width: 480px) {
    .map iframe {
        aspect-ratio: 1 / 1;
    }

    .logo {
        width: 80px;
    }

    .card {
        font-size: 0.9rem;
        padding: 1rem;
    }
}