* {
    margin: 0;
}

header {
 background-color: #87986a;
}
.logo {
    width:10vh ;
}

body {
    background-color: #cac4b1;
}
#search-bar {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 30rem;
   height: 3rem;
    
}
.apresentacao {
    height: 10rem;
    background: #87986a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 0;
    font-size: 2rem;
    
    
}


.hero img{
    width: 100%;
    opacity: 50%;

}