* {
    margin: 0;
}

header {
 background-color: #87986a;
}
.logo {
    width:10vh ;
}

body {
    background-color: #cac4b1;
}
#search-bar {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 35rem;
   height: 3rem;
   border-radius: 50px;
   border: none;
   padding: 15px;
}
.apresentacao {
    height: 10rem;
    background: #87986a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    
}
.hero {
   overflow: hidden;
   height: 500px;
}
.hero img{
    min-width: 100%;
    margin-top: -100px;
    
}
.info {
    margin: 5px 20px;
    display: flex;
    flex-direction: row;
}
.info p {
    font-size: 1.1rem;
}
.recicla {
   width: 33%;
}